@font-face {
  font-family: GotHamBold;
  src: url("../font/Gotham Bold.otf") format("opentype");
}

@font-face {
  font-family: GotHamRoundedLight;
  src: url("../font/Gotham Rounded Light.otf") format("opentype");
}

p {
  font-family: "GotHamRoundedLight", sans-serif;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #888;
}

a:hover {
  color: #d35266;
  text-decoration: none;
}

ul {
  list-style: none;
}

footer {
  font-family: "GotHamRoundedLight", sans-serif;
}

footer ul {
  padding: 0;
}

.flexRow {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
}

footer .redtext {
  color: #d35266;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "GotHamBold", sans-serif;
}

footer h5 {
  color: #d35266;
  border-bottom: 1px solid #d35266;
}

.icon {
  font-size: 30px;
}

.carousel-control-prev .icon {
  font-weight: 900;
  color: #d35266;
  position: relative;
  left: -38px;
}

.carousel-control-next .icon {
  font-weight: 900;
  color: #d35266;
  position: relative;
  right: -38px;
}

.imgContainer img {
  max-height: 200px;
  max-width: 150px;
  object-fit: cover;
}

.addvertSline div {
  max-height: 450px;
}

.text-end .btn {
  white-space: nowrap;
}

.mainColorRed {
  color: #d35266;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.product .card {
  height: 100%;
}

.serachFilters {
  background-color: rgba(0, 0, 0, 0.03);
}

.serachFilters .card-body {
  background-color: rgba(0, 0, 0, 0.03);
}

.serachFilters .card-group-item {
  padding-left: 10px;
}

.form-check-label {
  font-family: "Montserrat", sans-serif;
}

.category .row {
  margin: 0;
}

.text-start {
  text-align: start;
}

.logo {
  color: #d35266;
  font-size: 25px;
}

.footerLogoName {
  color: #888;
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 4px;
}

.footerLogo {
  color: #888;
  font-size: 50px;
}

.selected {
  color: #d35266;
}

.logoName {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 4px;
}

.profilePic {
  width: 35px;
  border-radius: 50%;
}

.form-control {
  border-radius: 0;
  height: calc(1.5em + 0.75rem + 22px);
}

.redHeader {
  background-color: #d35266;
  margin-top: 20px;
}

.redHeader .btn {
  line-height: 2.8;
}

.imgcontain {
  object-fit: contain;
}

.commentCount {
  position: relative;
  left: 41px;
  z-index: 22;
  top: -15px;
  color: white;
  font-family: "GotHamBold", sans-serif;
  font-weight: 700;
}

.comentIcon {
  color: #d35266;
}

.logoNameBig {
  color: white;
  font-size: 45px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  line-height: 0.9;
}

.logoNameBigSubscribe {
  font-family: "GotHamRoundedLight", sans-serif;
}

.topMenuRow {
  background-color: #383838;
  color: #888;
}

.text-end {
  text-align: end;
}

.menuList {
  display: flex;
  flex-grow: 1;
  white-space: nowrap;
}

.menuList li {
  flex: 1;
  text-transform: uppercase;
  font-size: 15px;
}

.sectionHeader {
  color: #888;
  font-size: 18px;
}

.headerContainer {
  display: inline-flex;
}

.category .headerContainer {
  margin-left: 10px;
  border-bottom: 1px solid #888;
}

.productName {
  font-family: "GotHamBold", sans-serif;
  color: #383838;
  margin-bottom: 0;
}

.productPrice {
  color: #d35266;
  font-family: "GotHamBold", sans-serif;
}

.productDetailsContainer {
  text-align: start;
}

.productLocation {
  color: #383838;
}

.productLocation > span {
  color: #888;
}

.product {
  background-clip: padding-box;
}

.productStatus {
  color: #d35266;
  font-family: "Montserrat", sans-serif;
}

.headerContainer .sectionHeader {
  flex: 1;
}

@media (min-width: 576px) {
  footer ul > li {
    margin-right: 10px;
  }

  .column {
    flex: 1 0 50%;
  }
}

@media (min-width: 768px) {
  .carousel-control-prev .icon {
    left: -58px;
  }

  .carousel-control-next .icon {
    right: -58px;
  }

  .column {
    flex: 1 0 33%;
    max-width: 33%;
  }
}

@media (min-width: 992px) {
  .carousel-control-prev .icon {
    left: -98px;
  }

  .carousel-control-next .icon {
    right: -98px;
  }

  footer ul > li {
    margin-right: 0;
  }

  .column {
    flex: 1 0 21%;
    margin: 5px;
  }
}
