@font-face {
    font-family: GotHamBold;
    src: url("../font/Gotham\ Bold.otf") format("opentype");
}

@font-face {
    font-family: GotHamRoundedLight;
    src: url("../font/Gotham\ Rounded\ Light.otf") format("opentype");
}

@font-face {
    font-family: HelveticalNeueLight;
    src: url("../font/Helvetica-Neue-Light_22503.ttf") format("truetype");
}

@font-face {
    font-family: HelveticalNeueMedium;
    src: url("../font/HelveticaNeue-Medium.otf") format("opentype");
}

@font-face {
    font-family: HelveticalNeueBold;
    src: url("../font/HelveticaNeueBold.ttf") format("truetype");
}

$gotHamBold : "GotHamBold", serif;
$gotHamLight : "GotHamRoundedLight", serif;
$hevelticaLight : "HelveticalNeueLight", serif;
$hevelticaMedium : "HelveticalNeueMedium", serif;
$hevelticaBold : "HelveticalNeueBold", serif;




$colorRed : #D35266;
$colorGrey : #888888;
$colorDark : #383838;

p {
    font-family: $gotHamLight;
    margin-bottom: 0;
}

a {
  text-decoration: none;
  color: $colorGrey;
}

a:hover{
  color: $colorRed;
  text-decoration: none;  
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $gotHamBold;
}
.carousel-control-prev .icon{
    font-weight: 900;
    color: $colorRed;
    position: relative;
    left: -38px;
}

.carousel-control-next .icon{
    font-weight: 900;
    color: $colorRed;
    position: relative;
    right: -38px;
}
.imgContainer img{
     max-height: 200px;
     max-width: 150px;
    object-fit:  cover;
}

.addvertSline div {
  max-height: 300px;
}

.category .row{
  margin: 0;
}

.text-start {
  text-align: start;
}

.logo{
  color: $colorRed;
  font-size: 25px;
}

.selected {
  color: $colorRed;
}

.logoName{
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    font-family: $hevelticaBold;
    margin-bottom: 4px;
  }

  .profilePic {
    width: 35px;
    border-radius: 50%;
  }

  .form-control{
   border-radius: 0;
   height:  calc(1.5em + .75rem + 22px);
  }

.redHeader {
  background-color: $colorRed;
}

.redHeader .btn {
  line-height: 2.8;
}

.commentCount{
    position: relative;
    left: 41px;
    z-index: 22;
    top: -15px;
    color: white;
    font-family: $gotHamBold;
    font-weight: 700;
}

.comentIcon{
  color: $colorRed;
}

  .logoNameBig{
    color: white;
    font-size: 45px;
    text-transform: uppercase;
    font-family: $hevelticaBold;
    line-height: 0.9;
  }

  .logoNameBigSubscribe{
    font-family: $gotHamLight;
  }



.topMenuRow {
  background-color: $colorDark;
  color: $colorGrey;
}

.text-end {
 text-align: end;
}

.icon {
  font-size: 30px;    
}

.menuList {
  display: flex;
  flex-grow: 1;
  white-space: nowrap;
}

.menuList li {
  flex: 1;
  text-transform: uppercase;
  font-size: 15px;
}

.sectionHeader {
  color: $colorGrey;
}

.category .sectionHeader{
  margin-left: 10px;
  border-bottom: 1px solid $colorGrey;
}

.productName {
  font-family: $gotHamBold;
  color: $colorDark;
  margin-bottom: 0;
}

.productPrice {
    color: $colorRed;
    font-family: $gotHamBold;
}

.productDetailsContainer {
    text-align: start;
}

.productLocation {
    color: $colorDark  
}

.productLocation > span {
    color: $colorGrey;
}

.product {
    background-clip: padding-box;
}

.productStatus {
  
  color: $colorRed;
  font-family: $hevelticaMedium;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  @media (min-width: 576px) { 

  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) { 
    .carousel-control-prev .icon{
        left: -58px;
    }
    
    .carousel-control-next .icon{
       
        right: -58px;
    }

   }
  
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) { 
    .carousel-control-prev .icon{
        left: -98px;
    }
    
    .carousel-control-next .icon{
       
        right: -98px;
    }
  }
  
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { 

  }
  